

#img-proj img {
  height: clamp(6rem, 10rem + 22vw, 22rem);
  border: solid #9678d6 1px;
  text-decoration: none;
  border-radius: 2rem;
}

#img-proj img:hover {
  outline: solid #9678d6 5px;
  transition: all 0.3ms ease-in-out;
  filter: brightness(60%);
}

#img-proj a {
  text-decoration: none;
}

#img-proj a p {
  color: #ffffff;
  margin-top: 3rem;
  margin-bottom: 5rem;
}
#img-proj  p {
  margin: 0;
  display: flex;
  justify-content: center;
}


#img-proj p:hover {
  color: #9678d6;
  scale: 1.1;
  transition: 0.5s;
}

@media only screen and (max-width: 1350px) {
  .project {
    gap: 5rem;
  }
}
