:root {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Slab', serif;
  background-color: black;

}

.menus h1 {
  color: #ffffff;
  font-size: 5rem;
  margin-top: 1rem;
}

.menus {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
}

.menus img {
  height: clamp(5rem, 5rem + 45vw, 55rem);
}

.invalid {
  border: 2px solid red !important;
}
